.home{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    .banner-container{
        transform: translateZ(-10px) scale(2);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        video{
            height: 100%;
            width: 100% !important;
            object-fit: contain;
            object-fit: cover;
            filter: brightness(0.6);
            z-index: -22;
        }
    }
    
    
}